.DS_Store
Thumbs.db

*.log

/build/
bin/
out/

*.iml
.idea/
*.class
*.jar
*.war
*.ear

target/
!target/README.md

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.classpath
.project
.settings/

*.user
*.sublime-workspace

*.tmp
*.temp

lib/
